[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
pydantic = "*"
python-dotenv = "*"
openai = "*"
sqlalchemy = "*"
numpy = "*"
psycopg2-binary = "*"
pydantic-settings = "*"
boto3 = "*"
werkzeug = "*"
langchain = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
pgvector = "*"
flask-sqlalchemy = "*"
passlib = "*"
python-jose = "*"
email-validator = "*"
bcrypt = "==4.0.1"

[dev-packages]

[requires]
python_version = "3.11"
